body {
 margin: 20px 40px;
}

p {
 font-size: 24px;
 font-weight: bold;
 margin-bottom: 0px;
 margin-top: 16px;
}

/*--- This is the CSS class for the green rectangular blocks. Note that it uses display: flex ---*/
.wrapper {
 display: flex;
 height: 60px;
 background-color: green;
 margin-bottom: 20px;
}

/*--- flex: 1 makes it so that the div takes up all available space left in the parent element ---*/
.redExample {
 flex: 1; /*all same length*/
 background-color: red;
}

/*--- Since both .redExample and .blueExample have flex: 1, they will take up an equal amount of space because they meet in the middle ---*/
.blueExample {
 flex: 1;
 background-color: blue;
}

/*--- flex-direction: row-reverse orders all child elements starting from right to left ---*/
.emptyExample2 {
 display: flex;
 flex: 1;
 flex-direction: row-reverse;
}

.blueExample2 {
 width: 80px;
 background-color: blue;
}

/* TODO: Add CSS for the rest of your solution below */

/* ************* ROW-3 ************* */
.row3 {
 justify-content: space-between;
}

.red3 {
 width: 80px;
 background-color: red;
}

.blue3 {
 width: 80px;
 background-color: blue;
}

/* ************* ROW-4 ************* */

.row4 {
 background-color: red;
 flex-direction: row-reverse;
}

.blue4 {
 width: 80px;
 background-color: blue;
}

/* ************* ROW-5 ************* */

.row5 {
 justify-content: center;
 align-items: center;
}

.red5 {
 width: 40px;
 height: 40px;
 background-color: red;
}

/* ************* ROW-6 ************* */

.row6 {
 justify-content: center;
 background-color: red;
}

.blue6 {
 width: 80px;
 background-color: blue;
}

/* ************* ROW-7 ************* */

.row7 {
 background-color: blue;
}

.red7 {
 width: 80px;
 background-color: red;
}

.green7 {
 flex-grow: 1;
 height: 20px;
 background-color: green;
 align-self: center;
}
/* ************* ROW-8 ************* */

.row8 {
 justify-content: space-between;
}

.orange8 {
 width: 80px;
 background-color: orange;
}

/* ************* ROW-9 ************* */

.row9 {
 justify-content: space-evenly;
 background-color: orange;
}

.green9 {
 width: 20px;
 background-color: green;
}